/*////////////////////////////////////
[For mobile phones]*/
body{
    background-image: url('https://bonum-senses.s3.amazonaws.com/static/images/user/user_background_mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.register-wrapper{
    margin:auto;
    border-top:10px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #AAAAAA;
    background-color: #FFFFFF;
    width:340px;
    opacity:0.85;
}

.register-form{
    width:85%;
    margin:auto;
}

.register-title{
    background-color: #fdb338;
    color:#FFFFFF;
    text-align:center;
    font-size: 18px;
    font-weight: 400;
    padding: 7px;
    border-radius: 10px 10px 0 0;
    margin:50px 0 10px 0;
}

.register-welcometext{
    color: #757575 ;
    text-align:center;
    font-size: 14px;
}

.email, .password1, .password2{
    color: #757575 ;
    font-size: 14px;
}

.emailInput, .passwordInput{
    border-radius: 3px;
    border:1px solid   #757575  ;
    margin:10px 0 10px 0;
    width:100%;
    padding:7px 10px;
}

.emailInput:focus, .passwordInput:focus{
    border-color:#fdb338 ;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #fdb338;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #fdb338;
}

.emailInput.is-valid, .passwordInput.is-valid{
    border-color:#32a852 ;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #32a852;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #32a852;
}

.emailInput.is-invalid, .passwordInput.is-invalid{
    border-color:#c23838 ;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #c23838;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #c23838;
}

.submit-button{
    margin:10px 0;
    border:0;
    border-radius: 3px;
    background-color: #015096;
    width:110px;
    height:36px;
    color: #fcfefb;
    font-size: 14px;
    cursor: pointer;
    transform: translate(90px, 0);
}

.submit-button:hover{
    background-color: #015baa;
}

.alert.alert-success{
    color:#32a852;
    text-align: center;
}

.alert.alert-danger{
    display: inline-block;
    color:#c23838;
    text-align: center;
}

.errorlist{
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    color: #c23838;


}

form a:link{
    width: 100%;
    text-align: center;
    display: block;
    text-decoration: none;
    color:#757575;
    padding-bottom: 15px;
}

form a:visited{
    color:#015096;
    background-color: transparent;
}

form a:hover{
    text-decoration: underline;
    color:#015096;
}

form a:active{
    text-decoration: underline;
    color:#015096;
    background-color: transparent;

}

/*////////////////////////////////////
[For PC]*/
@media screen and (min-width: 1201px){

    body{
        background-image: url('https://bonum-senses.s3.amazonaws.com/static/images/user/user_background_pc.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .register-wrapper{
        width:540px;
        margin:auto;
    }

    .register-title{
        margin:55px 0 10px 0;
    }

    .submit-button{
        transform: translate(175px, 0);
    }
}