{% extends 'master.html' %}

{% load static %}

{% block titleblock %}
    <title>{{sitename}} | {{username}}</title>
{% endblock %}
{% block linkblock%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/profile.css' %}">
{% endblock %}


{% block mainblock %}
    <div class="wrapper">
        <div class="personal-info"></div>
        <div class="personal-stories-block">
            <div class="stories-add-block">
                <div class="stories-addblock-button">分享故事</div>
                <div class="stories-addblock-fadein-content">
                    <a href="/stories/add" class="stories-addblock-photo"><div><i class="fa-solid fa-image"></i></div></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jsblock %}
    <script src="{% static 'js/user/user.js' %}"></script>

{% endblock %}