/*////////////////////////////////////
[For global setting]*/
a{
    text-decoration: none;
}

a:link {
    color: black;
}
  
/* visited link */
a:visited {
    color: black;
}
  
/* selected link */
a:active {
    color: black;
}



/*////////////////////////////////////
[For mobile phones]*/

.layout{
    width:95%;
    margin:auto;
}

.stories-block{
    display:none;
}


/*add block*/
.stories-add-block{
    display: block;
    width:100%;
    background-color: #fdb338;
    border-radius: 0 0 16px 16px;
    padding: 7px;
    cursor: pointer;
}

.stories-add-block:hover{
    background-color: #f8c065;
}

.stories-addblock-button{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.stories-addblock-fadein-block{
    display: none;
    position: fixed;
    width: 95%;
    left: 50%;
    transform: translate(-50%, -30px);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #AAAAAA;
}

.stories-addblock-fadein-block.has-triggered{
    display: block;
    z-index: 1001;
    /* height: 350px; */
    cursor: default;
    animation: fadeIn 0.2s
}

.fadein-block-form{
    height: 89.4%;
}

.fadein-block-title{
    background-color: #fdb338;
    color:#FFFFFF;
    text-align:center;
    font-size: 18px;
    font-weight: 400;
    padding: 7px;
    border-radius: 10px 10px 0 0;
    margin: 0px;
}

.fadein-edit-title{
    display:none;
    background-color: #fdb338;
    color:#FFFFFF;
    text-align:center;
    font-size: 18px;
    font-weight: 400;
    padding: 7px;
    border-radius: 10px 10px 0 0;
    margin: 0px;
}

.fadein-block-close{
    cursor: pointer;
    font-size: 22px;
    position: fixed;
    right: 12px;
    top: 4px;
    color: white;
}

.fadein-block-close:hover{
    color:#636363;
}

.form-text-content-input{
    width: 100%;
    height: 220px;
    border-width: 0 0 1px 0;
    border-color:#adacac;
    padding: 8px;
    resize: none;

}

.form-text-content-input:focus{
    outline: none;
}

input[type="file"]{
    display: none;
}

.image-preview-wrapper{
    display: none;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #adacac;
    white-space: nowrap;
    padding: 5px 20px 0 0;
}

.image-preview-wrapper.has-previewImage{
    display: inline-block;

}

.preview-images-delete{
    margin: 0 0 0 -10px;
    padding: 0;
    position: relative;
    font-size: 12px;
    text-align: center;
    line-height: 22px;
    width: 22px;
    height: 22px;
    color: #636363;
    background-color: #e5e3e3;
    border-radius: 50%;
    border-color: #636363;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    left: 13px;
    top: -61px;
    z-index: 1;
    cursor: pointer;
}

.preview-images-delete:hover{
    background-color: white;
}

.image-preview{
    width: 90px;
    height: 60px;
    object-fit: cover;
    margin: 8px 8px 8px -15px;
    position: relative;
    border-color: #636363;
    border-width: 1px;
    border-style: solid;
    transform: translate(12px, 0px);
}

.form-image-content-label{
    cursor: pointer;
    display: block;
    padding: 8px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #adacac;
}

.form-image-content-label:hover{
    color: #747373
}

.form-image-content-label-text{
    display: inline-block;
    transform: translate(5px, -1px);
}

.addblock-submit-button{
    cursor: pointer;
    display: block;
    background-color: #015096;
    width: 95%;
    padding: 8px;
    margin: 10px auto;
    border:none;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.addblock-submit-button:hover{
    background-color: #015baa;

}

.fadein-edit-button{
    cursor: pointer;
    display: none;
    background-color: #015096;
    width: 95%;
    padding: 8px;
    margin: 10px auto;
    border:none;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.fadein-edit-button:hover{
    background-color: #015baa;
}

.addblock-error-message{
    margin-top: 10px;
    text-align: center;
    color: red;
}

/*/////[style the rendered story block]/////*/
.render-stories-wrap{
    margin: 10px 0;
    border-radius: 12px;
    background-color: white;
    position: relative;
    overflow-x: hidden;
}

.stories-avatar.loader, .stories-username.loader, .stories-time.loader, .stories-text.loader-1, .stories-text.loader-2, .stories-text.loader-3{
    position:relative;
    height: 6px;
    animation-name: loader; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;   
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;  
    -webkit-background-size: 800px 104px;  
}

.render-stories-wrap.loader{
    height: 170px;
}

@keyframes loader {
    0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }

}

.stories-avatar{
    width: 50px;
    height: 50px; 
    margin: 10px 0 0 10px;
    border-radius: 50%;
    object-fit: cover;
}

.stories-avatar.loader{
    height: 50px;
}

.stories-username{
    display: inline-block;
    padding: 10px 0 0  0;
    transform: translate(5px, -30px);
    cursor: pointer;

}

.stories-username.loader{
    transform: translate(70px, -45px);
    width: 70px;
}

.stories-username:hover {
    text-decoration: underline;
}
  
.stories-options{
    float:right;
    font-size: 24px;
    transform: translate(-10px, 10px);
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: white;
    text-align: center;
}

.stories-options.has-clicked{
    pointer-events: none;
}

.stories-options.disabled{
    pointer-events: none;
}

.stories-options:hover{
    background-color: #efeded;
    color: rgb(94, 91, 91);
}

.options-wrapper{
    font-size: 14px;
    position: absolute;
    right: 50px;
    top: 20px;
    border-radius: 5px 5px 5px 5px;
    background: #efeded;
    width: 80px;
    text-align: center;
    z-index: 999;
}

.edit-story,.delete-story, .cancel{
    cursor: pointer;
    padding: 5px 0 5px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: white;
}

.edit-story:hover,.delete-story:hover, .cancel:hover{
    color: #e5e3e3;
    background-color: #015baa;
}


.stories-time{
    display: inline-block;
    transform: translate(0px, 35px);
    font-size: 10px;
    color: grey;
    position: absolute;
    left: 70px;
}

.stories-time.loader{
    width: 150px;
    transform: translate(-75px, -30px);
}

.stories-text{
    margin: 5px 0;
    padding: 0 15px;
}

.stories-text.loader-1{
    left: 15px;
    width: 80%;
}

.stories-text.loader-2{
    left: 15px;
    margin-top: 15px;
    width: 90%;
}

.stories-text.loader-3{
    left: 15px;
    margin: 15px 0 30px 0;
    width: 50%;
}

.stories-image-wrapper{
    --photoNums: 1;
    --i: 0;
    display: flex;
    align-items: center;
    width:100%;
    width: calc(var(--photoNums)*100%);
    overflow-y: hidden;
    height: 70vw;
    max-height: 100vh;
    transform: translate(calc(var(--i, 0)/var(--photoNums)*-100% + var(--tx, 0px)));
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab
}

.stories-image-wrapper:active{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.stories-image-wrapper.has-no-image{
    display: none;
}

.smooth { 
    transition: transform calc(var(--swipeDistance, 1)*.5s) ease-out; 
}

.stories-image{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    width: calc(100%/var(--photoNums));
    pointer-events: none;
    object-fit: contain;
    max-height: 100%;
}

.photoSwiperDotsWrapper{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 4px);
    color: #8f9eac;
    font-size: 20px;
}

.photoSwiperDot.has-selected{
    color: #015baa;
    font-size: 25px;
    transform: translate(0px, 1px);
    display: inline-block;
}

.stories-upvote{
    display: inline-block;
    margin: 10px 0 8px 10px;
    color: grey;
    cursor: pointer;
}

.stories-upvote > p:hover{
    text-decoration: underline;
}

.stories-upvote img{
    width: 20px;
}

.stories-upvote p{
    display:inline-block;
    transform: translate(0, -5px);
    margin: 0;
}

.stories-upvote + div{
    /* get the next div of storeis-upvote*/
    float: right;
    text-align: right;
    padding: 0 10px;
    color: grey;
    margin: 10px 0 8px 0;
    cursor: pointer;

}

.stories-upvote + div:hover{
    text-decoration: underline;
}

.stories-click-like-comment-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    color: grey;
    position: relative;
    border-style: solid;
    border-width: 1px 0;
    border-color: #e0e0e0;

}

.stories-click-like, .stories-click-comment{ 
    /* get both child nodes of .stories-click-like-comment-wrapper */
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.stories-click-like:hover, .stories-click-comment:hover{ 
    /* get both child nodes of .stories-click-like-comment-wrapper */
    background-color: #fdb338;
    color: white;
}

/*style the comments*/
.comment-detail-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transform: translate(10px, 0);
}

.comment-detail-username{
    display: inline-block;
    transform: translate(15px, -23px);
    font-weight: 700;
    font-size: 14px;
    color:#000000;
    cursor: pointer;
}

.comment-detail-username:hover{
    text-decoration: underline;
}

.comment-detail-created-time{
    position: relative;
    font-size: 10px;
    transform: translate(10px, -25px);
    left: 50px;
    width: 50%;
}

.comment-detail-text{
    display: inline-block;
    max-width: 85%;
    transform: translate(58px, -20px);
    color: #636363;
    border-radius: 0 10px 10px 10px;
    background-color: #e0e0e0;
    padding: 8px;

}

.comment-detail-wrapper{
    grid-column: 1/3;
    padding: 10px 20px 0 0;
}

.write-comment-wrapper{
    display: none;
    grid-template-columns: 13% 56% 12% 19%;
    align-items: center;
    padding: 5px 0px;

}

.write-comment-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transform: translate(10px, 0);

}

.write-comment-input-element{
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #c2c2c2;
    padding: 5px 10px;
    font-size: 13px;
    height: 30px;
    resize: none;
    transform: translate(10px, -2px);
    width: 95%;

}

.fa-solid.fa-image{
    text-align: center;
    font-size: 28px;
    cursor: pointer;
    transform: translate(0, -1px);

}

.fa-solid.fa-image.addblock{

    transform: translate(0, -1px);

}

.fa-solid.fa-image:hover, .fa-solid.fa-image.addblock:hover{
    color:#747373;
}

.write-comment-btn-element{
    border-radius: 12px;
    border: none;
    background-color: #fdb338;
    height: 30px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    transform: translate(-5px, -2px);
    width: 90%;

}

.write-comment-btn-element:hover{
    background-color: #f8c065;
}

/* bot-navbar */
.botnav-bot-layer{
    position: fixed;
    bottom: 0px;
    height:60px;
    width:100%;
    z-index: 999;
    background-color: #000000;
}

.botnav-select-indicator{
    position: fixed;
    bottom: 0px;
    height: 63px;
    width: 15%;
    background-color: #fdb338 ;
    z-index: 998;
    transform:translate(118%, 0)
}

.bot-navbar-mobile{
    display:grid;
    grid-template-columns: 16.7% 16.7% 16.7% 16.7% 16.7% 16.7% ;
    justify-items: center;
    position:fixed;
    bottom: 0px;
    width:100%;
    height:60px;
    z-index: 999;
}

.bot-navbar-mobile img{
    width:102%;
}

.bot-navbar-mobile img[src*="helps"]{
    transform: translate(0, 0.3px);
}

/*////////////////////////////////////
[For Mobile min-width:401px]*/
@media screen and (min-width: 410px){
    

    .write-comment-wrapper{
        grid-template-columns: 14% 56% 13% 17%;
    }

    .botnav-bot-layer{
        height: 70px;
    }

    .botnav-select-indicator{
        height: 73px;
    }

    .bot-navbar-mobile{
        height: 70px;   
    }
}

/*////////////////////////////////////
[For Mobile min-width:451px]*/
@media screen and (min-width: 451px){
    .botnav-bot-layer{
        height: 75px;
    }

    .botnav-select-indicator{
        height: 78px;
    }

    .bot-navbar-mobile{
        height: 75px;   
    }
}

/*////////////////////////////////////
[For Tablet]*/
@media screen and (min-width: 501px){

    .stories-image-wrapper{
        height: 60vw;
    }

    .comment-detail-wrapper{
        grid-column: 1/3;
        padding: 10px 0 0 5%;
    }

    .write-comment-wrapper{
        grid-template-columns: 10% 60% 13% 17%;
    }

    .botnav-bot-layer{
        height: 80px;
        transform: translate(-50%, 0);
        left: 50%;
        width:480px;
        margin:auto;
        border-radius: 5px;

    }

    .botnav-select-indicator{
        display:none;
    }

    .bot-navbar-mobile{
        height: 80px;   
        margin:auto;
        justify-content:center;
        transform: translate(-50%, 0);
        left: 50%;
        width:480px;
        border-radius: 10px;
        border:2px solid #000000
    }

}

/*////////////////////////////////////
[For pc]*/
@media screen and (min-width: 1201px){
    .botnav-bot-layer, .botnav-select-indicator, .bot-navbar-mobile{
        display:none;
    }

    .layout{
        display: grid;
        width:1200px;
        margin:auto;
        grid-template-columns: 300px 600px 300px;
    }

    .stories-addblock-fadein-block{
        width: 600px;
    }

    .stories-image-wrapper{
        height: 30vw;
    }

    .comment-detail-wrapper{
        grid-column: 1/3;
        padding: 10px 0 0 20px;
    }

    .fa-solid.fa-image{
        transform: translate(-7px, -1px);
    }

    .write-comment-wrapper{
        grid-template-columns: 9% 66% 8% 17%;
        align-items: center;
        padding-top: 10px;
    
    }


}