{% extends 'master.html' %}

{% load static %}

{% block titleblock %}
<title>{{sitename}} | 設定</title>
{% endblock %}
{% block linkblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}


{% block mainblock %}
    <h1>setting</h1>
    
    
    <!--Blank padding-->
    <div style="height:80px;"></div>

    <!--Botnav-Bot-Layer-->
    <div class="botnav-bot-layer"></div>

    <!--Bot-Nav-Select-Indicator-->
    <div class="botnav-select-indicator"></div>

    <!-- Bot-Nav-Mobile -->
    <div class="bot-navbar-mobile">
        <a href="/"><img src="{% static 'images/icons/home.png' %}"/></a>
        <a class="navStoryBtn" href="/stories"><img src="{% static 'images/icons/stories.png' %}"/></a>
        <a class="navHelpsBtn" href="/helps"><img src="{% static 'images/icons/helps.png' %}"/></a>
        <a class="navExchangeBtn" href="/exchange"><img src="{% static 'images/icons/exchange.png' %}"/></a>
        <a class="navProfileBtn" href="{% url 'login' %}"><img src="{% static 'images/icons/profile.png' %}"/></a>
        <a class="navSettingBtn" href="/setting"><img src="{% static 'images/icons/setting.png' %}"/></a>
    </div>
{% endblock %}